DATABASE_URL=postgres://hera:devpassword@localhost:5432/hera
REDIS_URL=redis://localhost:6379
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
S3_BUCKET=hera-reports
KMS_KEY_ID=alias/hera-dev
DEV_KMS_KEY_BASE64=srX6ZqJwXKgkiFy9v/ZDR6FGnwdJStYiMV7mgRst5eY=
SIGNING_KEY_BASE64=EKrpZA7rHuL/2XfaLtww7v2DMUlvkAJzKK5LLetLC6Y=
LIGHTWALLETD_URL=https://mainnet.lightwalletd.com:9067
NAMADA_INDEXER_URL=https://your-namada-indexer
